<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=content-width" />
    <title>Bookstore</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color: #232f3e;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:white !important;" class="navbar-brand" asp-action="Index">Most-Deifinitly-Not-Amazon</a>
            </div>
        </div>
    </nav>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
