<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color: #232f3e;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:white !important;" class="navbar-brand" asp-action="Index">Most-Deifinitly-Not-Amazon</a>
            </div>
        </div>
    </nav>
    <div style="margin-top:100px;" class="container">
        <div class="row m-1 p-1">
            <div class="col-3">
                <h1>@ViewBag.Title</h1>
                <vc:navigation-menu />
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
          
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
